/* Playlist.css */
.Playlist {
  width: 45%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.Playlist h2 {
  margin-top: 0;
  font-size: 18px;
}

.Playlist-save {
  background-color: #1db954;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}